---
title: Grid samples
---

<div class="grid-container ">	
	<hr>
		BB PROVA 3 {{pagename}}
	<hr>
</div>
<div class="grid-container">
	<div class="grid-x  grid-margin-x">
		<div class="small-4 cell">{{>sample-card}}</div>
		<div class="small-4 cell">{{>sample-card}}</div>
		<div class="small-4 cell">{{>sample-card}}</div>
	</div>
	<div class="grid-x  grid-padding-x">
		<div class="small-4 cell">{{>sample-card}}</div>
		<div class="small-4 cell">{{>sample-card}}</div>
		<div class="small-4 cell">{{>sample-card}}</div>
	</div>	
</div>
