<h2>Labels</h2>
<p>

  This are the classes for the labels:
  <span class="label">Regular Label</span>
  <span class="secondary label">Secondary Label</span>
  <span class="alert label">Alert Label</span>
  <span class="success label">Success Label</span>
  <span class="warning label">Warning Label</span>
  Pretty nice, right? Lorem ipsum dolor sit amet consectetuer amet rutrum vel tellus laoreet. Lacus ligula leo nonummy lorem ac Aliquam pede ridiculus enim Morbi. Ipsum semper ut nunc urna non parturient elit adipiscing consequat convallis. Malesuada massa mauris consectetuer vitae enim risus Morbi amet ligula Vestibulum. Et leo Nunc convallis facilisi Quisque.
  Lorem ipsum dolor sit amet consectetuer amet rutrum vel tellus laoreet. Lacus ligula leo nonummy lorem ac Aliquam pede ridiculus enim Morbi.

</p>
<hr>