<!-- sample mixed with headings and paragraphs -->
{{>sample-heading-h1}}
{{>sample-paragraph-leading}}
{{>sample-paragraph}}

{{>sample-heading-h2}}
{{>sample-paragraph-leading}}
{{>sample-paragraph}}

{{>sample-heading-h3}}
{{>sample-paragraph-leading}}
{{>sample-paragraph}}

{{>sample-heading-h4}}
{{>sample-paragraph-leading}}
{{>sample-paragraph}}

{{>sample-heading-h5}}
{{>sample-paragraph-leading}}
{{>sample-paragraph}}

{{>sample-heading-h6}}
{{>sample-paragraph-leading}}
{{>sample-paragraph}}
{{>sample-paragraph-longer}}


<hr>
<!-- ./sample mixed with headings and paragraphs -->

