      <h2>Tables; test with all configurations</h2>        


      <table summary="Jimi Hendrix albums">
        <caption>Table with headers on top</caption>
        <thead>
          <tr>
            <th>Album</th>
            <th>Year</th>
            <th>Price</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td>Album</td>
            <td>Year</td>
            <td>Price</td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>Are You Experienced </td>
            <td>1967</td>
            <td>$10.00</td>
          </tr>
          <tr>
            <td>Axis: Bold as Love</td>
            <td>1967</td>
            <td>$12.00</td>
          </tr>
          <tr>
            <td>Electric Ladyland</td>
            <td>1968</td>
            <td>$10.00</td>
          </tr>
          <tr>
            <td>Band of Gypsys</td>
            <td>1970</td>
            <td>$12.00</td>
          </tr>
        </tbody>
      </table>      


      <table><caption>Table Caption - table with headers on left</caption><tbody><tr><th scope="row">Album</th><td>Are You Experienced</td><td>Axis: Bold as Love</td><td>Electric Ladyland&nbsp;</td><td>Band of Gypsys&nbsp;</td></tr><tr><th scope="row">Year</th><td>1967</td><td>1967</td><td>1968</td><td>1970</td></tr><tr><th scope="row">Price</th><td>$10.00</td><td>$12.00</td><td>$10.00</td><td>$12.00</td></tr></tbody></table>     

      <table><caption>Table Caption - table with headers both on top and side</caption><tfoot><tr><th scope="row"></th><td>Album</td><td>Year</td><td>Price</td></tr></tfoot><thead><tr><th scope="col"></th><th scope="col">Album</th><th scope="col">Year</th><th scope="col">Price</th></tr></thead><tbody><tr><th scope="row">1</th><td>Are You Experienced</td><td>1967</td><td>$10.00</td></tr><tr><th scope="row">2</th><td>Axis: Bold as Love</td><td>1967</td><td>$12.00</td></tr><tr><th scope="row" rowspan="1">3</th><td rowspan="1">Electric Ladyland&nbsp;</td><td rowspan="1">1968</td><td rowspan="1">$10.00</td></tr><tr><th scope="row" rowspan="1">4</th><td rowspan="1">Band of Gypsys</td><td rowspan="1">1970</td><td rowspan="1">$12.00</td></tr></tbody></table>


      <hr>