// Place here all variables;
// Remember that if you want to override the foundation variables, you can 
// See there on /node_modules/foundation-sites/scss/settings/_setting.scss

//usage: see mixins-functions.scss

$relative-paths:(
	images: '../Images',
	fonts:  '../Fonts',
	sprites: '../Sprites'
);

